body {
    font-family: sans-serif;
    background-color: #96EFFF;
}

header {
    background-color: #f2f2f2;
    padding: 20px;
    display: flex;
    align-items: center;
}

.contact-us {
    display: flex;
    align-items: center;
}

#refresh-icon {
    margin-right: 10px;
    font-size: 20px;
    color: #007bff;
}

h2 {
    font-size: 24px;
    font-weight: bold;
}

main {
    width: 500px;
    margin: 0px auto;
    padding: 20px;
    text-align: right;
}

form {
    display: flex;
    flex-direction: column;
    width: 500px;
    text-align: right;
    border-left: 500 solid #000;
}

input {
    text-align: left;
}

.form-group {
    margin-bottom: 10px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    text-align: left;
}

input,
textarea {
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
    text-align: left;
}

button {
    padding: 30px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    text-align: center;
}

a {
    padding: 30px;
    padding-bottom: 30px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

input,
textarea {
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}

button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    text-align: center;
}

.cta-container {
    text-align: center;
}

.contact-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

h2 {
    text-align: center;
}

p {
    text-align: center;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 500px;
    background-color: #f2f2f2;
    padding: 20px;
}

form {
    width: 100%;
}

.form-group {
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input,
textarea {
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}