.header{
    background: 7ED7C1;
}
.active{
    color: black;
}
.container {
    position: relative;
}
.text-block {
    position: absolute;
    bottom: -60px;
    position: center;
    left:30%;
    height: 45%;
    width:45%;
    background-color:rgb(7, 77, 7);
    color: white;
  }
  .image{
    padding :6px;
  }
  .logo span{
    color: #06C167;
  }
.btn {
    position:absolute;
    white-space: nowrap;
    top: 70%;
    left: 48%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.564);
    color: white;
    font-size: 30px;
    padding: 12px 25px;
    outline: #000;
    cursor: pointer;
    border-radius: 20px;
}  
.btn:hover {
    background-color: white;
    color: green;
    width: 39%;
    height: 25%;
        display: inline-block;
        font-size: 1.4em;
        padding: 10px 18px;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: 500;
        margin-top: 10px;
        letter-spacing: 2px;
        transition: 1s;
}
.para{
    color: #000;
    text-align: center;
    padding:2%;
    background-color:rgb(7, 77, 7);
    color:rgb(253, 253, 253);
     text-decoration: solid;
    font-size:28px ;
    font-weight: bolder;
}
.heading{
    text-align: center;
    font-size: larger;
    font: bolder;
    padding:50px;
    text-decoration: underline ;
    text-decoration-color: #06C167;
    
}
.gif{
    padding: 40px;
    margin-left: 25%;   
}
.footer .footer-left {
    width: 33%;
    padding-right: 15px;
}
.footer .footer-left, .footer .footer-center, .footer .footer-right {
    display: inline-block;
    vertical-align: top;
}
.footer .footer-right {
    width: 35%;
}
* {
    list-style-image: initial;
    text-decoration-color: initial;
}
.footer .about span {
    display: block;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
div {
    display: block;
}
.footer {
    background-color: #414141;
    width: 100%;
    text-align: left;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 16px;
    padding: 50px;
    margin-top: 50px;
}
.footer .about {
    color: rgb(220, 219, 216);
}
.footer .about {
    line-height: 20px;
    color: #ffffff;
    font-size: 13px;
    font-weight: normal;
    text-align: center;
}.footer .footer-center p {
    color: rgb(220, 219, 216);
}
.footer .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin-left: 130px;
}
.footer .footer-center p a {
    color: rgb(67, 237, 155);
    text-decoration-color: initial;
    margin-left: 1px;
}
.footer .footer-center p a {
    color: #06C167;
    text-decoration: none;
    
}.footer .footer-center p span {
    color: rgb(220, 219, 216);
}
.footer .footer-center p span {
    display: block;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}
.social li a {
    display: inline-block;
    filter: invert(1);
    transform: scale(0.5);
    transition: 0.5s;
}
a {
    color: #308af2;
    margin:16px;
}.social {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 120px;
}
.footer h2 {
    color: rgb(220, 219, 216);
}
.footer h2 {
    color: #ffffff;
    font-size: 36px;
    font-weight: normal;
    margin-left: 108px;
}.footer h2 span {
    color: rgb(67, 237, 155);
}
.footer h2 span {
    color: #06C167;
}.footer .menu {
    color: rgb(220, 219, 216);
}
.footer .menu {
    color: #ffffff;
    margin: 10px 0 12px;
    padding: 2px;
    margin-left: 89px;
}.footer .name {
    color: rgb(67, 237, 155);
}
.footer .name {
    color: #06C167;
    font-size: 14px;
    font-weight: normal;
    margin: 2px;
    margin-left: 108px;
}.footer .menu a {
    text-decoration-color: initial;
    color: inherit;
    padding:0.1px;
}
.footer .menu a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}
div{
    display: block;
}
.voluntering{
    position: relative;
    display: block;
    text-align: center;
    margin-left: 60px;
    margin-right: 60px;
    padding: 20px;
    padding-bottom: 50px;
}
.head{
    position: relative;
    text-align: center;
    padding-top: 140px;
    padding-bottom: 30px;
}
.w{
    color: #06C167;
    padding: 25px;
}
.sample{
    padding: 10px;
}
#map {
    flex: 1;
    height: 10%;
    background-color: var(--color-light--1);
    font-family: 'Manrope', sans-serif;
    color: var(--color-light--2);
    font-weight: 400;
    line-height: 1.6;
    height: 100vh;
    overscroll-behavior-y: none;
  
    background-color: #fff;
    padding: 2.5rem;
  
    display: flex;
  }
  #mpp{
    /* width: 50%;
    height:80%;
    display: flex;
     */
     margin: auto;
     width: 50%;  
     /* border: 3px solid green; */
     padding: 30px;
  }